  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
    body {
      font-family: 'Inter', sans-serif;
      background: linear-gradient(#424549, #1e2124);
      margin: 0;
      padding: 0;
      color: #333;
    }
    header {
      background: linear-gradient(90deg, #6b73ff 0%, #000dff 100%);
      color: white;
      padding: 2rem;
      text-align: center;
      width: 100%;
    }
    .details-section {
      padding: 1rem;
      max-width: 1500px;
      margin: auto;
      color: white;
    }
    table {
      font-family: inherit;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 2rem;
      border-radius: 0.5rem;
      filter: drop-shadow(5px 5px 5px #000);
    }
    th, td {
      font-family: inherit;
      padding: 0.5rem;
      text-align: left;
    }
    tr {
      border-radius: 0.5rem;
    }
    .bg-pasio { background: linear-gradient(#3c6ddc, #c3c1c6); }
    .bg-type-normal { background: linear-gradient(#969493, #696766); }
    .bg-type-fire { background: linear-gradient(#bd3437, #842426); }
    .bg-type-water { background: linear-gradient(#55b8e2, #3b809e); }
    .bg-type-elec { background: linear-gradient(#dcb40a, #9a7d07); }
    .bg-type-grass { background: linear-gradient(#459e4e, #306e36); }
    .bg-type-ice { background: linear-gradient(#94c9cb, #678c8e); }
    .bg-type-fight { background: linear-gradient(#d57741, #95532d); }
    .bg-type-poison { background: linear-gradient(#784a91, #543365); }
    .bg-type-ground { background: linear-gradient(#975939, #693e27); }
    .bg-type-flying { background: linear-gradient(#4971dd, #334f9a); }
    .bg-type-psychic { background: linear-gradient(#c34b78, #883454); }
    .bg-type-bug { background: linear-gradient(#9cb558, #6d7e3d); }
    .bg-type-rock { background: linear-gradient(#85725f, #5d4f42); }
    .bg-type-ghost { background: linear-gradient(#a0739b, #70506c); }
    .bg-type-dragon { background: linear-gradient(#1284a1, #0c5c70); }
    .bg-type-dark { background: linear-gradient(#4a4759, #33313e); }
    .bg-type-steel { background: linear-gradient(#7f889c, #585f6d); }
    .bg-type-fairy { background: linear-gradient(#ed9bb8, #a56c80); }
    .circular-square { border-radius: 50%; }
    .shrink48 { width: 48x; height: 48px; }
    .shrinkhalf { width: 64x; height: 64px;}
    .shrink { width: 96x; height: 96px;}
    .shade { filter: drop-shadow(3px 3px #000); }
    .plist { white-space: pre-line;}
    .container { display: flex; gap: 20px; align-items: center;}
    .cardheader { display: flex;}
    .emoji { text-shadow: none;}
    .syncpairtitle {
      text-align: center;       
      font-weight: bold;
      color: white;
      text-shadow: #27636e 3px 0px,#27636e -1px 0px,#27636e 0px -1px,#27636e 0px 1px,#27636e 1px 1px,#27636e -1px 1px,#27636e 1px -1px,#27636e -1px -1px;
    }
    .highlighttext {
      color: rgb(255, 255, 0);
      text-shadow: #27636e 3px 0px,#27636e -1px 0px,#27636e 0px -1px,#27636e 0px 1px,#27636e 1px 1px,#27636e -1px 1px,#27636e 1px -1px,#27636e -1px -1px;
    }
    .opponents {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }
    .opponent-card {
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      padding: 1rem;
      flex: 1;
    }
    .scrollable-box {
      max-height: 100%;
      overflow-y: auto;
      padding: 0.1rem;
      padding-left: 1rem;
      margin-top: 0.1rem;
      margin: 1rem;
      border-radius: 6px;
      background: rgba(0, 0, 0, 0.3);
      color: white;
      text-shadow: #27636e 3px 0px,#27636e -1px 0px,#27636e 0px -1px,#27636e 0px 1px,#27636e 1px 1px,#27636e -1px 1px,#27636e 1px -1px,#27636e -1px -1px;
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      overflow: hidden;
    }
    .stat-table {
      width: 30%;
      font-weight: bold;
      color: white;
      text-shadow: #27636e 2px 0px,#27636e -1px 0px,#27636e 0px -1px,#27636e 0px 1px,#27636e 1px 1px,#27636e -1px 1px,#27636e 1px -1px,#27636e -1px -1px;
      margin: 0.5rem 0 1rem 0;
      tr:nth-child(1) { background: hwb(231 75% 17%);}
      tr:nth-child(2) { background: #bbe4ca;}
      tr:nth-child(3) { background: #e0e0c6;}
      tr:nth-child(4) { background: #e2d3b3;}
      tr:nth-child(5) { background: #c6e4e9;}
      tr:nth-child(6) { background: #b3cae5;}
      tr:nth-child(7) { background: #cec5dd;}
      tr:nth-child(8) { background: #f7beb4;}
      tr:nth-child(9) { background: #f5d4f5;}
      td:nth-child(2) { text-align: center;}
      td:nth-child(3) { text-align: center;}
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
    }
    .stat-table td {
      padding: 0.25rem 0.5rem;
    }
    .status-table {
      font-weight: bold;
      font-size: larger;
      color: white;
      text-shadow: #27636e 2px 0px,#27636e -1px 0px,#27636e 0px -1px,#27636e 0px 1px,#27636e 1px 1px,#27636e -1px 1px,#27636e 1px -1px,#27636e -1px -1px;
      margin: 0.5rem 0 1rem 0;
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      td:nth-child(1) {background: #b199c3; text-align: center;}
      td:nth-child(2) {background: #e98e90; text-align: center;}
      td:nth-child(3) {background: #e9d166; text-align: center;}
      td:nth-child(4) {background: #add8d5; text-align: center;}
      td:nth-child(5) {background: #cac9c9; text-align: center;}
      td:nth-child(6) {background: #ffd0f3; text-align: center;}
      td:nth-child(7) {background: #bcbcef; text-align: center;}
      td:nth-child(8) {background: #e6fcd7; text-align: center;}
    }
    .rules-table {
      font-weight: bold;
      background: #C0C4D4;
      color: white;
      text-shadow: #27636e 2px 0px,#27636e -1px 0px,#27636e 0px -1px,#27636e 0px 1px,#27636e 1px 1px,#27636e -1px 1px,#27636e 1px -1px,#27636e -1px -1px;
      align-items: center;
      margin: 0.5rem 0 1rem 0;
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      td:nth-child(1) {text-align: center;}
      td:nth-child(2) {text-align: center;}
    }
    .opponent-card p:has(> .weakness-tag) {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .weakness-tag {
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
      font-size: 0.9rem;
      font-weight: bold;
    }
    .legendtable {
      font-weight: bold;
      font-size: larger;
      color: white;
      text-shadow: #27636e 2px 0px,#27636e -1px 0px,#27636e 0px -1px,#27636e 0px 1px,#27636e 1px 1px,#27636e -1px 1px,#27636e 1px -1px,#27636e -1px -1px;
      margin: 0.5rem 0 1rem 0;
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      td:nth-child(4) {text-align: center;}
      td:nth-child(5) {text-align: center;}
    }
    .oppshead {
      height: 200px;
      background-image: url(images/stages/backdrops/s350_200_Windtown_01_512_512.ktx.png);
      background-position: center calc(50% - -90px);
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }